name: Release
on:
    push:
        tags:
            - 'v*.*.*'

jobs:
    release:
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest, windows-latest, macos-latest]

        runs-on: ${{ matrix.os }}

        permissions:
            contents: write

        steps:
            - uses: actions/checkout@v6

            - name: Setup pnpm
              uses: pnpm/action-setup@v4
              with:
                  version: 10

            - uses: actions/setup-node@v6
              with:
                  node-version: 24
                  cache: 'pnpm'

            - name: Install dependencies
              run: pnpm install --frozen-lockfile

            - name: Build & Release Linux
              if: matrix.os == 'ubuntu-latest'
              env:
                  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: pnpm run release:linux

            - name: Build & Release Windows
              if: matrix.os == 'windows-latest'
              env:
                  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: pnpm run release:win

            - name: Build & Release macOS
              if: matrix.os == 'macos-latest'
              env:
                  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: pnpm run release:mac

            - name: Upload Linux artifacts to Release
              if: matrix.os == 'ubuntu-latest'
              uses: softprops/action-gh-release@v2
              with:
                  files: |
                      dist/*.AppImage
                      dist/*.deb
                  draft: false
                  prerelease: false

            - name: Upload Windows artifacts to Release
              if: matrix.os == 'windows-latest'
              uses: softprops/action-gh-release@v2
              with:
                  files: |
                      dist/*.exe
                  draft: false
                  prerelease: false

            - name: Upload macOS artifacts to Release
              if: matrix.os == 'macos-latest'
              uses: softprops/action-gh-release@v2
              with:
                  files: |
                      dist/*.dmg
                  draft: false
                  prerelease: false
